<div class="row" style="min-height:600px;">
		<div class="col s3" style="width: 250px">
			<div class="collection">
				<a ui-sref="page1" class="collection-item">Титульный лист</a>
				<a ui-sref="page2" class="collection-item">Общие положения</a>
				<a ui-sref="page3" class="collection-item">Место дисциплины в структуре ОП</a>
				<a ui-sref="page4" class="collection-item">Объем и содержание УД</a>
				<a ui-sref="page5" class="collection-item">Перечень учебно-методического обеспечения для СРС</a>
				<a ui-sref="page6" class="collection-item">ФОС</a>
				<a ui-sref="page7" class="collection-item">Список литературы</a>
				<a ui-sref="page8" class="collection-item">Перечень ИТ</a>
				<a ui-sref="page9" class="collection-item">Описание МТБ</a>
			</div>
		</div>
		<div class="col s9">
			<div ui-view></div>
		</div>
</div>

<button class="fixed-action-btn-left3 btn" type="submit">Отправить на утв.</button>
<button class="fixed-action-btn-left2 btn" type="submit">Сохранить</button>
<button class="fixed-action-btn-left btn" type="submit">Просмотр</button>

<div class="PDFmodalBody hidePDF">
	<div class="PDFmodalContent">
		<!-- <button class="PDFmodalClose btn">Закрыть</button> -->
		<a title="Удалить" class="PDFmodalClose btn-floating red"><i class="material-icons">close</i></a>
		<iframe class="PDFmodalFrame" src="../result.pdf"></iframe>
	</div>
</div>
<script type="text/javascript">
	$('.fixed-action-btn-left').click(function(e) {
		$('.PDFmodalBody').removeClass('hidePDF');
		$('.PDFmodalBody').addClass('showPDF');
	});
	$('.PDFmodalClose').click(function(e) {
		$('.PDFmodalBody').removeClass('showPDF');
		$('.PDFmodalBody').addClass('hidePDF');
	});
</script>
