<ul class="collapsible" data-collapsible="accordion">
  <li>
	<div class="collapsible-header"><span class="badge">магистратура</span><i class="material-icons">description</i>Проектирование информационных систем</div>
	<div class="collapsible-body">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">№ п.п.</th>
					<th data-field="name">Профиль</th>
					<th data-field="name">Дата утверждения</th>
					<th data-field="name">Состояние</th>
					<th data-field="name">Действия</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="center">1</td>
					<td>Автоматизация управления бизнес-процессами и финансами</td>
					<td>25.11.2016</td>
					<td><span class="new badge blue left" data-badge-caption="Утверждена"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue disabled"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red disabled"><i class="material-icons">delete</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">2</td>
					<td>Интеллектуальные системы</td>
					<td>11.10.2016</td>
					<td><span class="new badge blue left" data-badge-caption="Утверждена"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue disabled"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red disabled"><i class="material-icons">delete</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">3</td>
					<td>Разработка программно-информационных систем</td>
					<td></td>
					<td>
						<a title="Использовать как шаблон" class="btn-floating orange" ui-sref="search"><i class="material-icons">library_books</i></a>
					</td>
					<td>
						<a title="Просмотр" class="open-pdf btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green" href="../result.pdf" target="_blank" type="application/pdf"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue" ui-sref="page1"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </li>
  <li>
	<div class="collapsible-header"><span class="badge">бакалавриат</span><i class="material-icons">description</i>Программирование</div>
	<div class="collapsible-body">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">№ п.п.</th>
					<th data-field="name">Профиль</th>
					<th data-field="name">Дата утверждения</th>
					<th data-field="name">Состояние</th>
					<th data-field="name">Действия</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="center">1</td>
					<td>Автоматизированные системы обработки информации и управления</td>
					<td>25.11.2016</td>
					<td><span class="new badge red left" data-badge-caption="В разработке"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue disabled"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red disabled"><i class="material-icons">delete</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">2</td>
					<td>Вычислительные машины, комплексы, системы и сети</td>
					<td>11.10.2016</td>
					<td><span class="new badge blue left" data-badge-caption="Утверждена"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue disabled"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red disabled"><i class="material-icons">delete</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">3</td>
					<td>Разработка программно-информационных систем</td>
					<td></td>
					<td><span class="new badge blue left" data-badge-caption="Утверждена"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </li>
  <li>
	<div class="collapsible-header"><span class="badge">магистратура</span><i class="material-icons">description</i>Базы данных и экспертные системы</div>
	<div class="collapsible-body">
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">№ п.п.</th>
					<th data-field="name">Профиль</th>
					<th data-field="name">Дата утверждения</th>
					<th data-field="name">Состояние</th>
					<th data-field="name">Действия</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td class="center">1</td>
					<td>Автоматизация управления бизнес-процессами и финансами</td>
					<td>25.01.2016</td>
					<td><span class="new badge blue left" data-badge-caption="Утверждена"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue disabled"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red disabled"><i class="material-icons">delete</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">2</td>
					<td>Распределенные автоматизированные системы</td>
					<td></td>
					<td><span class="new badge red left" data-badge-caption="В разработке"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
					</td>
				</tr>
				<tr>
					<td class="center">3</td>
					<td>Интеллектуальные системы</td>
					<td>11.05.2016</td>
					<td><span class="new badge blue left" data-badge-caption="Утверждена"></span></td>
					<td>
						<a title="Просмотр" class="btn-floating grey"><i class="material-icons">search</i></a>
						<a title="Скачать" class="btn-floating green"><i class="material-icons">file_download</i></a>
						<a title="Редактировать" class="btn-floating blue disabled"><i class="material-icons">mode_edit</i></a>
						<a title="Удалить" class="btn-floating red disabled"><i class="material-icons">delete</i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  </li>
</ul>
 <!-- Основа PDF -->
<div class="PDFmodalBody hidePDF">
	<div class="PDFmodalContent">
		<!-- <button class="PDFmodalClose btn">Закрыть</button> -->
		<a title="Удалить" class="PDFmodalClose btn-floating red"><i class="material-icons">close</i></a>
		<iframe class="PDFmodalFrame" src="../result.pdf"></iframe>
	</div>
</div>

<script type="text/javascript">
	$('.open-pdf').click(function(e) {
		$('.PDFmodalBody').removeClass('hidePDF');
		$('.PDFmodalBody').addClass('showPDF');
	});
	$('.PDFmodalClose').click(function(e) {
		$('.PDFmodalBody').removeClass('showPDF');
		$('.PDFmodalBody').addClass('hidePDF');
	});	
</script>