<!-- @author ctola-->
<div class="row">
	<div class="col s12">
			<a class="btn-floating btn-large waves-effect waves-light theme-color right"  ui-sref="login"><i class="material-icons">input</i></a>
	</div>
</div>
<div class="row div-center">
		<div class="col s4"></div>
		<div class="col s4">
				<div class="content">
					<div>
						<img class="activator" src="img/rpd-img.jpg">
					</div>
					<!-- <div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Кафедра ИТАС<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Кафедра ИТАС<i class="material-icons right">close</i></span>
						<p>Здесь будет информация о разработчиках системы, если это необходимо для демонстрации.</p>
					</div> -->
				</div>
		</div>
</div>