<div class="row div-center" ng-controller="LoginController as vm">
	<div class="col s4"></div>
	<div class="col s4">
		<div class="card-panel">
			<h4 class="header center">Авторизация</h4>
			<div class="row">
				<form name="loginForm">
					<div class="row">
						<div class="input-field col s8">
							<i class="material-icons prefix">account_circle</i>
							<input id="username" type="text" class="active validate" required ng-model="user.username">
							<label for="username">Логин</label>
						</div>
						<div class="input-field col s8">
							<i class="material-icons prefix">vpn_key</i>
							<input id="pw" type="password" class="validate" required ng-model="user.password">
							<label for="pw">Пароль</label>
						</div>
					</div>
					<button class="btn left theme-color" type="button" ng-click="vm.cancelLogin();">Отмена</button>
					<button class="btn waves-effect waves-light right theme-color" type="submit" ng-click="vm.loginSubmit(user, loginForm);">Вход
						<i class="material-icons right">send</i>
					</button> 
				</form>
			</div>
		</div>
	</div>
</div>
