<div class="row">
	<div class="row">
		<div class="col s2 logo center">
			<img src="img/logo-rpd.jpg">
		</div>
		<div class="col s8 logo">
			<h5 class="header center">
				ПЕРМСКИЙ НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ ПОЛИТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ
			</h5>
		</div>
		<div class="col s2 logo center">
			<img src="img/logo-pstu.png">
		</div>
	</div>
	<div class="row">
		<nav class="theme-color">
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<li><a ui-sref="discipline">Дисциплины</a></li>
				<li><a ui-sref="search">Поиск</a></li>
				<li><a ui-sref="directory">Справочники</a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
				<li><a><i class="material-icons">email</i></a></li>
				<li><a><i class="material-icons right">assignment_ind</i>Иванов И.И.</a></li>
				<li><a><i class="material-icons">input</i></a></li>
			</ul>
		</div>
		</nav>
	</div>
		<div class="row">
			<div ui-view></div>
		</div>
</div>
