<div class="row row-bottom-border">
	<h5>Перечень программного обеспечения</h5>
	<table class="striped">
		<thead>
			<tr>
				<th>№</th>
				<th>Наименование</th>
				<th>Версия</th>
				<th>Лицензия</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>ArgoUML</td>
				<td>3.5</td>
				<td>свободное</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>yEd Graph Editor</td>
				<td>1.6</td>
				<td>свободное</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>3</th>
				<td>BPWin</td>
				<td>7.7</td>
				<td>0000000</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>3</th>
				<td>AllFusion ERwin Data Modeler</td>
				<td>10.0</td>
				<td>1111111</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>			
		</tbody>
	</table>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>
<div class="row row-bottom-border">
	<h5>Перечень информационных справочных систем</h5>
	<table class="striped">
		<thead>
			<tr>
				<th>№</th>
				<th>Название(адрес)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>http://www.intuit.ru/studies/courses/607/463/info</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Научный информационный ресурс зарубежного издательства Springer</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>