<div class="row">
	<h5>Список литературы</h5>
	<table class="striped">
		<thead>
			<tr>
				<th class="center">№</th>
				<th class="center">Наименование</th>
				<th class="center">Тип</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>Файзрахманов Р.А., Архипов А.В. Проектирование автоматизированных информационных систем на основе объектно-ориентированного подхода : учебное пособие, Пермский государственный технический университет.— Пермь : Изд-во ПГТУ, 2011 .— 222 с.</td>
				<td>основная</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>С.А. Орлов, Б.Я. Цилькер. Технологии разработки программного обеспечения. Совре-менный курс по программной инженерии : учебник для вузов /— 4-е изд .— Санкт-Петербург : Питер, 2012 .— 608 с.</td>
				<td>учебная, научная</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>3</th>
				<td>Файзрахманов Р.А., Селезнев К.А. Структурно-функциональный подход к проектированию информационных технологий и автоматизированных систем с использованием CASE-средств, Перм. гос. техн. ун-т .— Пермь : Изд-во ПГТУ, 2007. – 266 c.</td>
				<td>учебная, научная</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>4</th>
				<td>Проектирование информационных систем : учебное пособие / В. И. Грекул, Г. Н. Денищенко, Н. Л. Коровкина ; Интернет-университет информационных технологий .— 2-е изд., испр .— Москва : ИНТУИТ : БИНОМ. Лаб. знаний, 2008 .— 299 с.</td>
				<td>учебная, научная</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>5</th>
				<td>Журнал «Автоматизация и современные технологии»</td>
				<td>период.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>6</th>
				<td>Журнал «Computer Bild + DVD /Компьютер Билд»</td>
				<td>период.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>