<div class="row row-bottom-border">
<h3>Промежуточная аттестация</h3>
	<br>
	<h5>Этапы формирования компетенций</h5>
	<table class="bordered">
		<thead>
			<tr>
				<th>№</th>
				<th>Этап</th>
				<th>Описание</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>Лекции</td>
				<td>Информационного (объяснительного), представленного лекциями с использованием мультимедийных технологий изложения материала, направленного на получение базовых знаний по дисциплине</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Лабораторные работы</td>
				<td>Аналитико-синтетического, или деятельностного, представленного лабораторными работами с обсуждением полученных результатов, самостоятельной работой студентов над учебным материалом, в том числе в ходе выполнения курсовой работы, занятий в интерактивной форме, направленного на формирование основной части знаний, умений и навыков по дисциплине, способности самостоятельного решения профессиональных задач в сфере заявленных компетенций</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
			</tr>			
		</tbody>
	</table>

	<br>
	<h5>Шкала оценивания уровня знаний</h5>
	<table class="bordered">
		<thead>
			<tr>
				<th>Балл</th>
				<th>Уровень усвоения</th>
				<th>Критерии оценивания уровня усвоенных знаний</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>5</th>
				<td>Максимальный уровень</td>
				<td>Студент правильно ответил на теоретический вопрос билета. Показал отличные знания в рамках усвоенного учебного материала. Ответил на все дополнительные вопросы.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>4</th>
				<td>Средний уровень</td>
				<td>Студент ответил на теоретический вопрос билета с небольшими неточностями. Показал хорошие знания в рамках усвоенного учебного материала. Ответил на большинство дополнительных вопросов.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>3</th>
				<td>Минимальный уровень</td>
				<td>Студент ответил на теоретический вопрос билета с существенными неточностями. Показал удовлетворительные знания в рамках усвоенного учебного материала. При ответах на дополнительные вопросы было допущено много неточностей.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Минимальный уровень не достигнут</td>
				<td>При ответе на теоретический вопрос билета студент продемонстрировал недостаточный уровень знаний. При ответах на дополнительные вопросы было допущено множество неправильных ответов.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
	<br>

	<h5>Шкала оценивания уровня умений</h5>
	<table class="bordered">
		<thead>
			<tr>
				<th>Балл</th>
				<th>Уровень усвоения</th>
				<th>Критерии оценивания уровня усвоенных знаний</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>5</th>
				<td>Максимальный уровень</td>
				<td>Студент правильно выполнил практическое задание билета. Показал отличные умения в рамках освоенного учебного материала. Ответил на все дополнительные вопросы.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>4</th>
				<td>Средний уровень</td>
				<td>Студент выполнил практическое задание билета с небольшими неточностями. Показал хорошие умения в рамках освоенного учебного материала. Ответил на большинство дополнительных вопросов.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>3</th>
				<td>Минимальный уровень</td>
				<td>Студент выполнил практическое задание билета с существенными неточностями. Показал удовлетворительные умения в рамках освоенного учебного материала. При ответах на дополнительные вопросы было допущено много неточностей.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Минимальный уровень не достигнут</td>
				<td>При выполнении практического задания билета студент продемонстрировал недостаточный уровень умений. При ответах на дополнительные вопросы было допущено множество неправильных ответов.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
	<br>

	<h5>Шкала оценивания уровня приобретенных владений</h5>
	<table class="bordered">
		<thead>
			<tr>
				<th>Балл</th>
				<th>Уровень усвоения</th>
				<th>Критерии оценивания уровня усвоенных знаний</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>5</th>
				<td>Максимальный уровень</td>
				<td>Студент правильно выполнил комплексное задание билета. Показал отличные владения навыками применения полученных знаний и умений при решении профессиональных задач в рамках усвоенного учебного материала. Ответил на все до-полнительные вопросы.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>4</th>
				<td>Средний уровень</td>
				<td>Студент выполнил комплексное задание билета с небольшими неточностями. Показал хорошие владения навыками применения полученных знаний и умений при решении профессиональных задач в рамках усвоенного учебного материала. Ответил на большинство дополнительных вопросов.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>3</th>
				<td>Минимальный уровень</td>
				<td>Студент выполнил комплексное задание билета с существенными неточностями. Показал удовлетворительное владение навыками применения полученных знаний и умений при решении профессиональных задач в рамках усвоенного учебного материала. При ответах на дополнительные вопросы было допущено много неточностей.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Минимальный уровень не достигнут</td>
				<td>При выполнении комплексного задания билета студент продемонстрировал недостаточный уровень владения умениями и навыками при реше-нии профессиональных задач в рамках усвоенного учебного материала. При ответах на дополнительные вопросы было допущено множество неточностей.</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
	<br>

	<h5>Форма оценочного листа</h5>
	<table class="bordered centered">
		<thead>
			<tr>
				<th>Интегральный результат контроля</th>
				<th>Знания</th>
				<th>Умения</th>
				<th>Владения</th>
				<th>Средняя оценка</th>
				<th>Итоговая оценка</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>5</td>
				<td>5</td>
				<td>4</td>
				<td>5</td>
				<td>4.75</td>
				<td>Отлично</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<td>4</td>
				<td>3</td>
				<td>3</td>
				<td>3</td>
				<td>3.25</td>
				<td>Удовлетворительно</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>5</td>
				<td>4</td>
				<td>3</td>
				<td>3.75</td>
				<td>Хорошо</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>3</td>
				<td>3</td>
				<td>2</td>
				<td>2.75</td>
				<td>Неудовлетворительно</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<td>3</td>
				<td>3</td>
				<td>4</td>
				<td>2</td>
				<td>3.0</td>
				<td>Удовлетворительно</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>
<div class="row row-bottom-border">
	<form action="#">
		<div class="file-field input-field">
			<div class="btn">
				<span>Экзаменационные вопросы и задания</span>
				<input type="file" multiple>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Загрузите файл(ы)">
			</div>
		</div>
	</form>
</div>
<div class="row">
	<h3>Текущий контроль</h3>
	<table class="bordered">
		<thead>
			<tr>
				<th>№</th>
				<th>Виды текущего контроля</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>Защита отчетов по лабораторным работам</td>
				<td>
					<form action="#">
						<div class="file-field input-field">
							<div class="btn">
								<span>Типовые задания по лабораторным работам</span>
								<input type="file" multiple>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Загрузите файл(ы)">
							</div>
						</div>
					</form>					
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>				
			</tr>
			<tr>
				<td>По усмотрению преподавателя</td>
			</tr>
			<tr>
				<th>2</th>
				<td>Контроль знаний в виде тестирования</td>
				<td>
					<form action="#">
						<div class="file-field input-field">
							<div class="btn">
								<span>Примеры тестовых заданий</span>
								<input type="file" multiple>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Загрузите файл(ы)">
							</div>
						</div>
					</form>
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>



</div>