<h5>Описание материально-технической базы</h5>
<div class="row row-bottom-border">
	<table class="striped centered">
		<thead>
			<tr>
				<th>№</th>
				<th>Название</th>
				<th>Кафедра</th>
				<th>Номер аудитории</th>
				<th>Площадь, м<sup>2</sup></th>
				<th>Количество мест</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Компьютерный класс</td>
				<td>Кафедра ИТАС</td>
				<td>315А</td>
				<td>60</td>
				<td>18</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>	
			<tr>
				<td>1</td>
				<td>Сетевая лаборатория</td>
				<td>Кафедра ИТАС</td>
				<td>215А</td>
				<td>50</td>
				<td>15</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>
