<h5>Цель учебной дисциплины</h5>
<div class="row">
	<div class="input-field col s12">
		<i class="material-icons prefix">mode_edit</i>
		<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
    </div>
</div>

<div class="row row-bottom-border">
	<h5>Компетенции дисциплины</h5>
	<table class="striped">
		<thead>
			<tr>
				<th>№</th>
				<th>Расшифровка компетенции</th>
				<th>Компетенция</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>умение оформлять отчеты о проведенной  научно-исследовательской работе и подготавливать публикации по результатам исследования</td>
				<td>ОК-9</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating theme-color"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td> -->
			</tr>
			<tr>
				<th>2</th>
				<td>способность проектировать распределенные информационные системы, их компоненты и протоколы их взаимодействия</td>
				<td>ПК-7</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating theme-color"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td> -->
			</tr>
			<tr>
				<th>3</th>
				<td>способность проектировать системы с параллельной обработкой данных и высокопроизводительные системы и их компоненты</td>
				<td>ПК-8</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating theme-color"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td> -->
			</tr>
			<tr>
				<th>4</th>
				<td>способность проектировать основные компоненты операционных систем</td>
				<td>ПК-11</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating theme-color"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td> -->
			</tr>
		</tbody>
	</table>
</div>
<div class="row row-bottom-border">
	<h5>Знать</h5>
	<table>
		<tbody>
			<tr>
				<th>1</th>
				<td>методику обследования объекта, разработки проекта и внедрения информационной системы</td>
				<td>
					<select>
						<option value="1" selected>ПК-11</option>
						<option value="2" >ПК-7</option>
						<option value="3" >ОК-9</option>
						<option value="4" >ПК-8</option>
					</select>
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>инструментальные средства для моделирования процессов и компонентов информационной системы</td>
				<td>
					<select>
						<option value="1" >ПК-11</option>
						<option value="2" selected>ПК-7</option>
						<option value="3" >ОК-9</option>
						<option value="4" >ПК-8</option>
					</select>
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>
<div class="row row-bottom-border">
	<h5>Уметь</h5>
	<table>
		<tbody>
			<tr>
				<th>1</th>
				<td>самостоятельно работать со справочной литературой, стандартами, оформить требования заказчика, проект информационной системы в виде технического задания и проектной документации</td>
				<td>
					<select>
						<option value="1" >ПК-11</option>
						<option value="2" >ПК-7</option>
						<option value="3" selected>ОК-9</option>
						<option value="4" >ПК-8</option>
					</select>
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>применять инструментальные средства для оформления моделей и проектной документации</td>
				<td>
					<select>
						<option value="1" >ПК-11</option>
						<option value="2" >ПК-7</option>
						<option value="3" >ОК-9</option>
						<option value="4" selected>ПК-8</option>
					</select>
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>
<div class="row row-bottom-border">
	<h5>Владеть</h5>
	<table>
		<tbody>
			<tr>
				<th>1</th>
				<td>навыками проектирования информационных систем и их компонентов</td>
				<td>
					<select>
						<option value="1" >ПК-11</option>
						<option value="2" selected>ПК-7</option>
						<option value="3" >ОК-9</option>
						<option value="4" >ПК-8</option>
					</select>
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
			<tr>
				<th>2</th>
				<td>применения инструментальных средств для создания информационных и процессных моделей и проектной документации</td>
				<td>
					<select>
						<option value="1" selected>ПК-11</option>
						<option value="2" >ПК-7</option>
						<option value="3" >ОК-9</option>
						<option value="4" >ПК-8</option>
					</select>
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>

<script type="text/javascript">
		$('#icon_prefix2').val('Целью изучения дисциплины является достижение запланированных результатов обучения: приобретение знаний, умений и навыков, необходимых для проектирования информационной системы и ее компонентов');
		$('#icon_prefix2').trigger('autoresize');

$(document).ready(function() {
    $('select').material_select();
  });

</script>