<div class="row row-bottom-border">
	<h5>Перечень учебно-методического обеспечения для СРС</h5>
	<table>
		<thead>
			<tr>
				<th class="center">№</th>
				<th class="center">Наименование</th>
				<th class="center">Тип</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>1</th>
				<td>Плехов П.В. Вычислительные системы: Пособие по самостоятельной работе магистрантов направления «Информатика и вычислительная техника» // http://10.1.1.23:8080/eios/met/090401/_b1v3/sr.pdf
				</td>
				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
				<td>
					<a title="Удалить" class="btn-floating red"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<a title="Добавить" class="btn-floating theme-color"><i class="material-icons">add</i></a>
	</div>
</div>
