<h5>Место дисциплины в структуре образовательной программы</h5>
<div class="row row-bottom-border">
	<form class="">
		<div class="row">
			<div class="col s12 input-field">
				<!-- <i class="material-icons prefix">mode_edit</i> -->
				<input id="competence1" type="text" class="validate">
				<label for="competence1">Дисциплина относится к</label>
			</div>
		</div>

		<div class="row">
				<div class="col s12 input-field">
					<!-- <i class="material-icons prefix">mode_edit</i> -->
					<input id="competence2" type="text" class="validate">
					<label for="competence2">Дисциплина является</label>
				</div>
		</div>
	</form>

	<h5>Дисциплины, направленные на формирование компетенций</h5>
	<table class="striped">
		<thead>
			<tr>
				<th>Код</th>
				<th>Наименование компетенций</th>
				<th>Предшествующие дисциплины</th>
				<th>Последующие дисциплины</th>
				<!-- <th></th> -->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>ОК-9</td>
				<td>умение оформлять отчеты о проведенной  научно-исследовательской работе и подготавливать публикации по результатам исследования</td>
				<td>Научно-исследовательская работа.</td>
				<td>Научно-исследовательская работа.Преддипломная практика.</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
 -->			</tr>
			<tr>
				<td>ПК-7</td>
				<td>способность проектировать распределенные информационные системы, их компоненты и протоколы их взаимодействия</td>
				<td>Распределенные системы обработки информации.</td>
				<td>-</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
 -->			</tr>
			<tr>
				<td>ПК-8</td>
				<td>способность проектировать системы с параллельной обработкой данных и высокопроизводительные системы и их компоненты</td>
				<td>Теория параллельных вычислений.</td>
				<td>-</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
 -->			</tr>
			<tr>
				<td>ПК-11</td>
				<td>способность проектировать основные компоненты операционных систем</td>
				<td>Научно-исследовательская практика.</td>
				<td>-</td>
<!-- 				<td>
					<a title="Редактировать" class="btn-floating blue"><i class="material-icons">mode_edit</i></a>
				</td>
 -->			</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$('#competence1').val('вариативной части');
	$('#competence2').val('обязательной');	
	Materialize.updateTextFields();
</script>